<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>declineMessages</key>
	<array>
		<string>Currently with a patient.</string>
		<string>In a meeting.</string>
		<string>Will call you back later.</string>
		<string>Please call again later.</string>
	</array>
</dict>
</plist>
